In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Data/reduced_reddit.csv")
df.head()

,title,body,upvotes,created_utc,num_comments,label
0,Day 18 of doing 50 push-ups,NaN,4.0,1.619357e+09,4.0,0.0
1,There isn’t a better feeling than finishing yo...,Then your teacher hits you with that “ Good jo...,7.0,1.554103e+09,NaN,0.0
2,LMAOOO I can only get this guy to talk to me i...,Yeahhh maybe not babe,4.0,1.649342e+09,12.0,0.0
3,This isn't going to work out,NaN,236.0,1.417630e+09,33.0,0.0
4,Am I the only guy who found it hurtful as a ch...,\n\nLike... why? How is that funny? How does ...,6.0,1.569280e+09,4.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98826 entries, 0 to 98825
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         98826 non-null  object
 1   body          80371 non-null  object
 2   upvotes       98826 non-null  float64
 3   created_utc   98826 non-null  float64
 4   num_comments  94297 non-null  float64
 5   label         98826 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.5+ MB